section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
}

section > img {
    height: 400px;
    width: 400px;
    margin-bottom: 50px;
    object-fit: cover;
}

section table {
    margin-bottom: 200px;
    border-collapse: separate;
    border-spacing: 14px;
}
section tr {
    display: block;
    border-top: 2px #fff solid;
}
section tr:first-child {
    border-top: none;
}
section th {
    width: 200px;
}

section div {
    width: 100%;
}

section div ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}
 
section div ul li {
    list-style: none;
}

section div ul img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}